.home.grid {
    display: grid;
    grid-template-columns: 1fr;
    
    background-color: var(--bg-main);
    color: #fff;

    text-align: center;
    height: 100vh;
    grid-column-gap: 0;
}

.home-image {
    display: none;
}

.contend-home {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5rem 2.5rem;
}

.home.grid header {
    height: 26%;
}

header h1 {
    display: flex;
    flex-direction: column;
    font-size: 2.1em;
    font-family: 'Roboto Mono', monospace;
    text-overflow: unset;
}

header h1 span:first-child {
    font-size: 3em;
}

.wrapper-subtitles {
    margin-top: 2.5rem;
    margin-bottom: 8.6rem;
}

.wrapper-subtitles p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

.wrapper-button {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.home.grid section {
    height: 66%;
}

.home.grid footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: auto;
}

footer span {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}


@media (max-height: 676px) {
    .wrapper-subtitles {
        margin-top: 1.4rem;
        margin-bottom: 5rem;
    }
    footer {
        padding-bottom: -2rem;
    }
  }

@media (min-width: 800px) {
    .home.grid {
        grid-template-columns: 1.2fr 1fr;
    }

    .wrapper-subtitles {
        margin-top: 5rem;
        margin-bottom: 6rem;
    }
    .home-image-container {
        width: 100%;
        height: 100%;
    }
    .home-image {
        display: block;
        object-fit: cover;
        max-height: 100vh;
        width: 100%;
  }
}

