.container-main.grid {
    display: grid;
    grid-template-columns: 1fr;
    
    background-color: var(--bg-main);
    color: #fff;

    padding: 0.5rem 2.5rem;

    text-align: center;
    height: min-content;
}


.container-main header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 0 0;
    margin-bottom: 3rem;
}

.container-main section {
    margin-bottom: 2rem;
}

.wrapper-about {
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    line-height: 1.4em;
}

.wrapper-contact {
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-contact .text-contact {
    margin-bottom: 2rem;
}

.wrapper-contact .wrapper-button {
    display: center;
    justify-content: center;
}

