.wrapper-skill {
    text-align: left;
    padding-left: 0.9rem;
}

.wrapper-skill span {
   display: inline-block;
   padding-top: 2%;
   vertical-align: top;
   font-family: 'Roboto Mono', monospace;
   font-weight: 800;
   font-size: 1.3em;
   margin-left: 0.3rem;
}


@media screen and (min-width: 800px) {
    .wrapper-skill {
        font-size: 0.8rem;
    }
    
    .wrapper-skill img {
        height: 2.2em;
    }

    p.wrapper-skill{
        margin-top: 0.5rem;
        margin-bottom: auto;
    }
}
