.container-photo .photo {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  width: 10rem;
  height: 10rem;
}

.photo {    
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrapper-name  {
    padding-top: 1rem;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 800px) {
    .container-photo .photo {
        height: 8rem;
        width: 8em;
  }
  .wrapper-name  {
    padding-top: 0.4rem;
    font-family: 'Montserrat', sans-serif;
  }
}
