.container-photo .photo {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  width: 10rem;
  height: 10rem;
}

.photo {    
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrapper-name  {
    padding-top: 1rem;
    font-family: 'Montserrat', sans-serif;
}