.ReactModal__Content {
    height: fit-content;
}

.modal {
    padding: 0.5rem 0;
    z-index: 2;
}

.header-modal {
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    padding: 0.3rem;
}

.title-modal {
    font-size: 0.9em;
    margin-right: 0.9rem;
    vertical-align: middle;
    align-self: flex-start;
}

.btn-send-wrapper {
    display: flex;
    justify-content: center;
}

.btn-close {
    margin-right: 0.1rem;
    margin-top: 0.4rem;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    color: var(--bg-main);
    border-radius: 2rem;
    height: 100%;
    cursor: pointer;
}

.btn-close:hover {
    background-color: rgb(19, 26, 24);
    color: var(--bg-button) ;
}

.modal .input-group {
    margin: 1rem 0;
    position: relative;

}

.modal .input-group span{
    color: brown;
    position: absolute;
    top: 0.2rem;
    right: 0.3rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
}

.modal .input-group input,.modal .input-group label, .modal .input-group textarea {
    font-family: 'Roboto Mono', monospace;
    margin: 2px 0 0 0;
    font-size: 0.8em;
}

.modal .input-group input  {
    border-radius: 0.5rem;
    border: 1px solid var(--bg-main);
}

.modal .input-group textarea, .modal .input-group input {
    width: 100%;
}

.modal .input-group textarea {
    min-height: 4rem;
    resize: none;
    border-radius: 0.5rem;
}

.spinner {
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    border: 8px solid rgba(0, 0, 0, .1);
    border-left-color: var(--bg-main);
    animation: spin 1s linear infinite;
    position: absolute;
    top: 0.8rem;
    left: 4%;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 800px) {
    .header-modal {
        width: 100%;
        justify-content: space-between;
    }
    .title-modal {
        font-size: 1em;
        margin-right: auto;
        margin-left: auto;
    }
    .btn-close {
        justify-self: flex-end;
    }
    .ReactModal__Overlay {
        position: relative;
    }
    .ReactModal__Content {
        width: 50vw;
        position: absolute;
        top: 42;
        margin: auto auto;
    }   
    .spinner {
        top: 0.5rem;
        left: 4%;
        height: 2rem;
        width: 2rem;
    }
}
